@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}

@layer base {
    :root {
        --background: oklch(1 0 0);
        --footer-bg: #1E293B;
        --danger: #EA4335;
        --rate: #2563EB;
        --placeholder: #94A3B8;
        --revenue1-graph: #0FC6C2;
        --revenue1-bg: #3BB34633;
        --revenue2-graph: #165DFF;
        --revenue2-bg: #165DFF33;
        --primary: #587DBD;
        --secondary: #AEAEB2;
        --secondary-dark: #334155;
        --secondary-background: #F8FAFC;
        --border: #E9EBED;
        --border-card: #E2E8F0;
        --input: #FAFAFA;
        --category: #E0F2FE;
        --category-icon: #3B82F6;
        --success: #5BAE61;
    }
}

@layer utilities {
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.75rem;
        /* 12px */
        padding-right: 0.75rem;
        /* 12px */

        /* Small devices (landscape phones, 576px and up) */
        @media (min-width: 576px) {
            max-width: 540px;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }

        /* Medium devices (tablets, 768px and up) */
        @media (min-width: 768px) {
            max-width: 720px;
            padding-left: 1rem;
            /* 16px */
            padding-right: 1rem;
            /* 16px */
        }

        /* Large devices (desktops, 992px and up) */
        @media (min-width: 992px) {
            max-width: 960px;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        /* Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {
            max-width: 1140px;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        /* Extra extra large devices (1400px and up) */
        @media (min-width: 1400px) {
            max-width: 1320px;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}